* {
    box-sizing: border-box;

    .font {
        font-family: 'Montserrat', sans-serif;
    }
    #navbar {
        height: 7vh;
        background-color: rgb(140, 201, 60);
        
        form {
            margin-left: 30rem;
            vertical-align: top;
            
            #search {
                width: 200%;
                background-color: white;
            }
        }

        ul {
            li {
                a {
                    
                }
            }
        }
        .icon {
            background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
            background-size: 24px;
            background-position: 15px 8px;
          }
    }
}