* {
    box-sizing: border-box;
    margin: 0;
    .font {
        font-family: 'Montserrat', sans-serif;
    }
    .font-lex {
        font-family: 'Lexend Deca', sans-serif;
    }

    main {
        margin: auto;
        margin-top: 5rem;
        height: 85vh;


        #left, #right {
            width: 49.8%;
            height: 100%;
            border: 1px solid black;
            display: inline-block;
            margin: 0;
            vertical-align: top;
        }
        
        #right {
            float: right;
            padding: 1rem 6rem;
            border: 1px solid black;
            #rightp {
                margin-left: 10rem;
            }
            h2 {
                letter-spacing: 1px;
            }
            
            #options {
                
            }

            #google img {
                height: 28px;
                width: 28px;
            }
        }
       
    }

}
